/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */
/* minimal reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ************************* */
/* Styling */
body {
  background-color: #45badd;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.robot {
  background: url("./assets/robot.gif");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 50vw;
  position: relative;
}

#button {
  cursor: pointer;
  outline: none;
  width: 20rem;
  height: 5rem;
  font-family: "Courier New", "Courier New", Courier, monospace;
  color: white;
  background-color: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.2);
  user-select: none;
  z-index: 10;
}

#button:hover {
  filter: brightness(95%);
}

#button:active {
  transform: scale(0.95);
}

#button:disabled {
  cursor: default;
  filter: brightness(30%);
  pointer-events: none;
}

.fa-comment-dots {
  font-size: 8rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 57%;
  top: 12%;
  width: 5.6rem;
  height: 5.6rem;
  color: rgba(255, 255, 255, 0.9);
  transform-origin: bottom left;
  transform: scale(0);
  transition: transform 0.4s ease-out;
}

.fa-comment-dots.active {
  transform: scale(1);
}

/* Media Query: Tablet or smaller */
@media screen and (max-width: 1000px) {
  .container {
    box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.5);
  }
  .fa-comment-dots {
    font-size: 5rem;
    top: 18%;
  }
}
